################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Data Science - Udacity/FileContentIndex/52e7c716-691d-46d4-bbf5-b205a50c3eb1.vsidx
/.vs/Data Science - Udacity/FileContentIndex/88ce44c9-3795-4f33-94d4-b6fecf0e1e1c.vsidx
/.vs/Data Science - Udacity/FileContentIndex/ab0b44dc-ecbe-416f-b211-39ee7b848cbd.vsidx
/.vs/Data Science - Udacity/FileContentIndex/b3ce92d7-4452-42bc-8283-0b1453426bf3.vsidx
/.vs/Data Science - Udacity/FileContentIndex/6649f514-9dd5-4983-9e2a-1c3e0c3c12b0.vsidx
/.vs/Data Science - Udacity/FileContentIndex/d09c211b-fc29-40c3-9273-935fa51e172d.vsidx
/.vs/Data Science - Udacity/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Data Science - Udacity/FileContentIndex/a032f399-645e-4d1e-b784-1e8100443e9d.vsidx
/.vs/Data Science - Udacity/FileContentIndex/read.lock
/.vs/Data Science - Udacity/FileContentIndex/acfe01ee-699e-43bf-bda2-8e4c10021642.vsidx
