.libre-baskerville-meme {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

p {
    font-size: 1.75rem;
}

img {
    border: 5px solid white;
    width: 100%;
}

#container {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}